Repository thirdweb-dev/ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-ai, ruff-format-ai, ruff-check-mcp, ruff-format-mcp, pyright-ai, pyright-mcp

ruff-check-ai:
  name: ruff check (thirdweb-ai)
  entry: bash -c 'cd python/thirdweb-ai && uv run ruff check --fix .'
  language: system
  pass_filenames: false

ruff-format-ai:
  name: ruff format (thirdweb-ai)
  entry: bash -c 'cd python/thirdweb-ai && uv run ruff format .'
  language: system
  pass_filenames: false

ruff-check-mcp:
  name: ruff check (thirdweb-mcp)
  entry: bash -c 'cd python/thirdweb-mcp && uv run ruff check --fix .'
  language: system
  pass_filenames: false

ruff-format-mcp:
  name: ruff format (thirdweb-mcp)
  entry: bash -c 'cd python/thirdweb-mcp && uv run ruff format .'
  language: system
  pass_filenames: false

pyright-ai:
  name: pyright (thirdweb-ai)
  entry: bash -c 'cd python/thirdweb-ai && uv run pyright'
  language: system
  pass_filenames: false

pyright-mcp:
  name: pyright (thirdweb-mcp)
  entry: bash -c 'cd python/thirdweb-mcp && uv run pyright'
  language: system
  pass_filenames: false

Add EngineCloud service for cloud-based engine operations
  python/thirdweb-ai/README.md
  python/thirdweb-ai/src/thirdweb_ai/services/__init__.py
  python/thirdweb-ai/src/thirdweb_ai/services/engine_cloud.py
Due: ruff-check-ai, ruff-format-ai, pyright-ai

add google_adk to __init__.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/__init__.py
Due: ruff-check-ai, ruff-format-ai, pyright-ai

add EngineCloud support - fix bugs
  README.md
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/google_adk.py
  python/thirdweb-ai/src/thirdweb_ai/services/engine_cloud.py
  python/thirdweb-mcp/README.md
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-ai, ruff-format-ai, ruff-check-mcp, ruff-format-mcp, pyright-ai, pyright-mcp

add engine cloud service (#35)
  README.md
  python/thirdweb-ai/README.md
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/__init__.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/google_adk.py
  python/thirdweb-ai/src/thirdweb_ai/services/__init__.py
  python/thirdweb-ai/src/thirdweb_ai/services/engine_cloud.py
  python/thirdweb-mcp/README.md
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-ai, ruff-format-ai, ruff-check-mcp, ruff-format-mcp, pyright-ai, pyright-mcp

fix imports
  python/thirdweb-ai/src/thirdweb_ai/__init__.py
Due: ruff-check-ai, ruff-format-ai, pyright-ai

fix imports (#36)
  python/thirdweb-ai/src/thirdweb_ai/__init__.py
Due: ruff-check-ai, ruff-format-ai, pyright-ai

fix engine cloud url
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-mcp, ruff-format-mcp, pyright-mcp

fix engine cloud url (#37)
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-mcp, ruff-format-mcp, pyright-mcp

remove engine_cloud_url mentions
  python/thirdweb-mcp/README.md
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-mcp, ruff-format-mcp, pyright-mcp

remove engine_cloud_url mentions (#38)
  python/thirdweb-mcp/README.md
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-mcp, ruff-format-mcp, pyright-mcp

add linting CI
  .github/workflows/lint.yml
Due: none

lint with ruff and fix types
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/google_adk.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/mcp/mcp.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/openai/agents.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/pydantic_ai/pydantic_ai.py
  python/thirdweb-ai/src/thirdweb_ai/services/__init__.py
  python/thirdweb-ai/src/thirdweb_ai/services/engine_cloud.py
  python/thirdweb-ai/src/thirdweb_ai/tools/tool.py
  python/thirdweb-ai/uv.lock
Due: ruff-check-ai, ruff-format-ai, pyright-ai

lint both projects
  .github/workflows/lint.yml
Due: none

use uv workspaces to handle deps
  .github/workflows/lint.yml
  python/pyproject.toml
  python/thirdweb-ai/pyproject.toml
  python/thirdweb-mcp/pyproject.toml
Due: ruff-check-ai, ruff-format-ai, ruff-check-mcp, ruff-format-mcp, pyright-ai, pyright-mcp

uv.lock using dev deps
  python/uv.lock
Due: none

update pyright command
  .github/workflows/lint.yml
Due: none

fix types
  python/thirdweb-mcp/src/mcp.py
Due: ruff-check-mcp, ruff-format-mcp, pyright-mcp

add get accounts from cloud + lint (#39)
  .github/workflows/lint.yml
  python/pyproject.toml
  python/thirdweb-ai/pyproject.toml
  python/thirdweb-ai/src/thirdweb_ai/adapters/google_adk/google_adk.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/mcp/mcp.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/openai/agents.py
  python/thirdweb-ai/src/thirdweb_ai/adapters/pydantic_ai/pydantic_ai.py
  python/thirdweb-ai/src/thirdweb_ai/services/__init__.py
  python/thirdweb-ai/src/thirdweb_ai/services/engine_cloud.py
  python/thirdweb-ai/src/thirdweb_ai/tools/tool.py
  python/thirdweb-ai/uv.lock
  python/thirdweb-mcp/pyproject.toml
  python/thirdweb-mcp/src/mcp.py
  python/uv.lock
Due: ruff-check-ai, ruff-format-ai, ruff-check-mcp, ruff-format-mcp, pyright-ai, pyright-mcp

update release.yml to support workspaces
  .github/workflows/release.yml
Due: none

update release.yml to support workspaces (#40)
  .github/workflows/release.yml
Due: none

fix dir
  .github/workflows/release.yml
Due: none

fix annotations
  python/thirdweb-ai/src/thirdweb_ai/adapters/mcp/mcp.py
Due: ruff-check-ai, ruff-format-ai, pyright-ai

Path conditions:
  ruff-check-ai: any of: ^python/thirdweb-ai/
  ruff-format-ai: any of: ^python/thirdweb-ai/
  ruff-check-mcp: any of: ^python/thirdweb-mcp/
  ruff-format-mcp: any of: ^python/thirdweb-mcp/
  pyright-ai: any of: ^python/thirdweb-ai/
  pyright-mcp: any of: ^python/thirdweb-mcp/
